const { run } = require('../libs')

module.exports = (Program) => {
  return new Promise((resolve, reject) => {
    Program
    .command('{{ name }}')
    {% if alias %}.alias('{{ alias }}'){% endif %}
    {% if description %}.description('{{ description }}'){% endif %}
    .action(async (name, options) => {
    {% for item in command %}
      await run('{{ item }}')
    {% endfor %}
    })
  })
}
