{
  "name": "{{ cliName }}",
  "version": "1.0.0",
  "description": "",
  "main": "./{{ cliName }}.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "",
  "engines": {
    "node": ">=7.10.1"
  },
  "dependencies": {
    "chalk": "^2.4.1",
    "commander": "^2.16.0"
  },
  "bugs": {
    "email": "contact@email.com"
  },
  "bin": {
    "{{ cliName }}": "./{{ cliName }}.js"
  }
}
